.content {
	@media (min-width: 960px) {
		max-width: 90vw;
		align-self: center;
		margin: 0 auto;	
	}

	&--page{
		margin-bottom: 10rem;
	}
	&__servermessage{
		padding: 0 0 2rem 0;
		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		font-size: 13px;
	}
	&__instructions{
		padding: 3rem 0 0 0;
		i {
			font-size: .9em;
		}
		&__text{
			display: block;
			padding: 0 20px;
			p{
				margin: 2rem 0;
				&:last-child{
					margin-top: .5rem;
				}
				&:nth-child(3){
					margin-bottom: 0;
				}
			}
		}
	}
}

.logo{
	height: 40px;
	width: 80px;
}

.inputcontainer {
	width: 90vw;
	// text-align: center;
	&__wrapper{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__message {
		padding: 0 2rem;
	}
	&__item {
		margin: 1rem 1rem 0 0;
		flex: 0 30% !important;
		&--button {
			margin: 1rem 0 2rem 0;
		}
	}
}

.block{
	display: block;
}

.red {
	color: $red;
}