.content {
	@media (min-width: 960px) {
		max-width: 90vw;
		align-self: center;
		margin: 0 auto;	
	}
	&--page{
		margin-bottom: 10rem;
	}
	&__servermessage{
		padding: 2rem 0;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	&__instructions{
		padding: 3rem 0 1rem 0;
		// display: flex;
		&__text{
			display: block;
			padding: 20px;
			line-height: 3;
		}
	}
}

.logo{
	height: 40px;
	width: 80px;
}

.inputcontainer {
	width: 90vw;
	// text-align: center;
	&__wrapper{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__message {
		padding: 0 2rem;
	}
	&__item {
		margin: 1rem 1rem 0 0;
		flex: 0 30% !important;
		&--label {
			// color: $blue !important;
			// font-weight: 700;
		}
		&--button {
			margin: 1rem 0 2rem 0;
		}
	}
}